
/*MENU MOBILE*/

#navbar {
    height: 100px;
    width: 100%;
}

#navbar-container {
    display: flex;
    padding: 5px;
    width: 100%;
    text-align: justify;
}

#navbar-items {
    flex-direction: inline;
    text-align: justify;
    width: 100%;
}
    


/*#navbar-items li:nth-child(2) {
    border-top: 2px solid #410b0b;
    border-bottom: 2px solid #410b0b;
    margin: 10px;
}*/



.logo {
    text-align: letf;
    width: 100%;
    padding: 10px;
    font-size: 25px;
}

#btn-mobile {
    display: none;
}

@media (max-width: 600px) {

    #showcase-container h2{
        font-size: 25px;
    }
    #showcase-container p{
        font-size: medium;
    }
    #showcase-container a{
        font-size: small;
    }
    .logo {
        font-size: 30px;
        padding-left: 30px;
    }
    #btn-mobile {
        display: block;
    }
    #navbar-items {
        display: block;
        position: absolute;
        width: 100%;
        top: 100px;
        right: 0;
        background: #DEB887;
        transition: .6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        text-transform: capitalize;
    }
        
       
    #navbar.active #navbar-items {
        height: calc(100vh - 100px);
        visibility: visible;
        overflow-y: auto;
    }
        
    #navbar-items li {
        padding: 10px;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(107, 29, 29, 0.05);
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger {
        color: #410b0b;
        border-top: 2px solid;
        width: 20px;
    }
    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #navbar.active #hamburger {
        border-top-color: transparent;
    }

    #navbar.active #hamburger::before {
        transform: rotate(135deg);
    }

    #navbar.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}


.headline {
    font-size: large;
    padding: 10px;
    bottom: 0;
}

/*SHOWCASE*/




/*NOSSOS SERVIÇOS*/

#clients-container {
    grid-template-columns: repeat(2, 1fr);
}

.client {
    width: 80%;
}

#clients {
    padding: 10px;
}

/*O QUE FAZEMOS?*/

#features-container {
    grid-template-columns: 1fr;
    margin: auto;
    grid-gap: 7px;
}
    

.feature {
    padding: auto;
}

#features{
    padding: 10px 40px;
}

.icon {
    justify-content: center;
    padding-top: 0;
}


.icon {
    width: 50px;
}


.feature-title {
    height: auto;
}
    
p {
    font-size: 12px;
}


/*SOBRE*/


#product-container {
    flex-direction: column;
}

#items {
    width: 100%;
}

.item {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*FEEDBACKS*/


#feedbacks {
    padding: 5px;
}

#feedbacks-container {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 3px;
}

.feedback-image {
    width: 40%;
    height: auto;
}

/*GALERIA*/

#gallery-container {
    grid-template-columns: 1fr;
}

.gallery-image {
    width: 110%;
    height: auto;
}