
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    letter-spacing: 0.8px;
}
    
    
body {
    font-family: 'Inter', sans-serif;
}


a {
    text-decoration: none;
    color: inherit;

}

#btn-mobile {
    display: none;
}
.btn {
    display: inline-block;
    padding: 15px 50px;
    font-size: 1.1rem;
    text-transform: uppercase;
    background: #DEB887;
    color: #410b0b;
    border-radius: 5px;
    transition: background 500ms ease;
}

.btn:hover {
    cursor: pointer;
    background: #DEB887;
}

.headline {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 0;
    color: #410b0b;
}

/*Nav bar*/

#navbar {
    width: 100%;
    background: #DEB887;
    color: #080707;
    height: 80px;
    position: fixed;
}

#navbar-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #410b0b;
    font-size: 2rem;
    font-weight: bold;
}

#navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    color: #410b0b;
}

#navbar-items li {
    padding: 10px;
}


/*SHOWCASE*/

#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    background: url('/img/showcasi.png') no-repeat center center/cover; 

/*Overlay(Sombreado)opaco*/

    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: color;
}

#showcase-container {
    text-align: center;
}

#showcase-container h2 {
    font-size: 2.5rem;
}

#showcase-container p {
    font-size: 1.2rem;
    padding: 6px 0;
}


/* NOSSOS SERVIÇOS */

#clients {
    width: 100%;
    background: #F5DEB3;
    padding: 50px;
    padding-top: 20px;
}

.clients-container .gallery-wrapper {
    overflow-x: scroll;
}
.gallery-wrapper::-webkit-scrollbar {
   width: 1px;
}
  
.gallery-wrapper::-webkit-scrollbar-thumb {
    background-color:#410b0b36;
    border-radius: 20px;
  }

.gallery-wrapper::-webkit-scrollbar-track {
    width: 1px;
}

.gallery-wrapper {
    width: 100%;
    overflow-x: auto;
}
  
  
.gallery-wrapper .gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}
  
.gallery-wrapper .item {
    width: 250px;
    height: 210px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    opacity: 1;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #410b0b;
    margin-top: 10px;
    margin-left: 10px;
}

.legenda {
    text-align: center;
    color: #410b0b;
    font-size: 11px;
    
}




/*O QUE FAZEMOS?*/

i {
    text-align: center;
    color: #410b0b;
}


.icon {
    width: 70px;
    text-align: center;
}

.iconn {
    width: 70px;
}

#features {
    width: 100%;
    background: #FFE4E1;
    color: #eee;
    padding: 50px;
    padding-top: 20px;
    justify-items: center;
}

#features-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    padding: 5px;  
    grid-gap: 30px; 
}

.feature {
    display: flex;
    flex-direction: column;
    background: #D8BFD8;
    padding: 5px 5px;
    border-radius: 5px;
    margin: auto;
    color: #410b0b;
    width: 100%;
    height: 183px;
    text-align: justify;
    border: #410b0b77;
    border-style: outset;
    border-width: 1.5px;
    box-shadow: 10px 10px 10px #410b0b;
}
    

p {
    display: grid;
    text-align: center;
    width: auto;
    font-size: 75%;
    max-width: 100%;
    word-wrap: break-word;
    overflow: auto;
}

p::-webkit-scrollbar {
  width: 3px;
}

p::-webkit-scrollbar-thumb {
  background-color: #410b0b36;
  border-radius: 10px;
  border: none;
}



/*p::-webkit-scrollbar-thumb {
    width: 5px;
}*/



.feature-title {
    font-size: auto;
    font-weight: bold;
    text-align: center;
}

/*SOBRE*/

#product {
    width: 100%;
    padding: 50px;
    padding-top: 20px;
    height: auto;
}

#product-container {
    display: flex;
    justify-content: center;
    align-items: left;
}

#items {
    width: 650px;
}

#items .item {
    display: flex;
    padding: 10px;
    margin: 15px 0;
    font-size: 1.2rem;
}

.iphone-x {
    width: 200px;
}


/*FEEDBACKS*/


#feedbacks {
    width: 100%;
    background: #c7b2a0;
    color: #eee;
    padding: 50px;     
    padding-top: 20px;
}

#feedbacks-container {
    display: grid;
    align-items: center;
    font-size: 1.2rem;
    background: #F4A460;
    padding: 15px;
    padding: 5px;
    width: 100%;
}
    




.gallery-wrapper .feedback-image{
    width: 250px;
    height: 230px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    opacity: 1;
    border-radius: 50%;
 }



/*GALERIA*/

#gallery {
    width: 100%;
    margin: auto;
    padding: 50px;
    padding-top: 20px;
}

#gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-items: center;
}


.gallery-image {
    display: inline-block;
    width: 100%;
    height: 260px;
    border-radius: 5px;
}

/*CONTACT*/

form {
    background:  #410b0b;
    padding: 0;
    margin: 0;
}

#contact {
    background: url('/img/formu.jpeg') no-repeat center center/cover;
    color: #DEB887;
    padding: 100px 15px; 
    padding-top: 20px;
    width: auto;
}


#contact .headline {
    color: #DEB887;
    padding-bottom: 70px;
}

#contacts-container {
    padding-bottom: 20px;
}

/*FORMULÁRIO E FOOTER*/

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

}

#footer {
    width: 100%;
    background:  #DEB887;
    color: var(--color-neutral-40);
    padding: 30px;
    text-align: center;
}
    
.box {
    font-size: 13px;
}

#footer p {
    color: #410b0b;
}

form {
    background:  #410b0b;
    padding: 10px 10px;
    width: 20rem;
    height: 22rem;
    margin: auto;
    margin-top: 50px;
    border: 2px solid #eee;
    border-radius: 10px; 
    box-shadow: 1px -1px 17px 0px rgba(0, 0, 0, 0.75);
}

.box input {
    width: 100%;
    height: 20px;
    margin-top: 5px;
   
}

#contact h1 {
    text-align: center;
}

.box button {
    margin-top: 50px;
    margin-left: 6rem;
    background-color: #DEB887;
    border: 0px;
    padding: 10px 40px;
    color: #410b0b;
    font-size: 1rem;
    outline: none;
    border-radius: 4px;
    --webkit-border-radius: 4px;

}

#footer_content {
    background-color: var(--color-neutral-30);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#foot_contents h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    font-size: 1.25rem;
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
}

#footer_social_media .footer-link :hover {
    opacity: 0.5;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
} 

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-10);
    transition: all 0.4s;
}

.footer-list .footer-link :hover {
    color: #410b0b;
}

#foote_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#foote_subscribe p {
    color: var(--color-neutral-10);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-40);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;    
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-10);
    padding: 0.75rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}


